# Material de trabajo: queda solo en local
referencia.png
PROYECTO.md
htglogo-01.svg
logos-marcas/
assets/*.otf
htg-seccion minorista/
*.code-workspace
tienda-pepper/
audios cesar/
fotos mayorista/
DGSTORE/
HGTLOGO-01.svg
/icono-ubicacion.svg
